@layer components {
  .btn {
    @apply inline-block my-2 text-inverted font-semibold tracking-wide transform transition-all duration-200 cursor-pointer antialiased;
  }

  .btn:hover {
    @apply no-underline;
  }

  .btn > svg {
    @apply inline ml-2 transition-all duration-200 align-middle;
  }

  .btn:hover > svg {
    @apply ml-3 -mr-1;
  }

  .btn-primary,
  .btn-secondary,
  .btn-inverted {
    @apply px-8 py-3 rounded;
  }

  .btn-primary:hover,
  .btn-secondary:hover,
  .btn-inverted:hover {
    @apply shadow-lg -translate-y-1;
  }

  .btn-primary {
    @apply bg-primary;
    @apply text-inverted;
  }

  .btn-secondary {
    @apply bg-secondary;
  }

  .btn-inverted {
    @apply bg-inverted text-neutral;
  }

  .btn-muted:after {
    content: '';
    @apply absolute left-0 bottom-0 bg-primary w-0 h-1 transition-all duration-200 transform translate-y-2;
  }

  .btn-muted:hover:after,
  .btn-muted.btn-active:after {
    @apply w-full;
  }

  .btn-underline:after {
    content: '';
    width: calc(100% - 4rem);
    @apply absolute bottom-0 bg-primary h-1 transform -translate-y-1;
  }
}
